@import "fonts.scss";


@mixin breakpoint($point) {
    @if $point == xl {
    @media (max-width: 1920px) {
      @content;
    }
  } @else if $point == lg-hd {
    @media (min-width: 1367px) and (max-width: 1540px) {
      @content;
    }
    // is touch?
    @media (hover: none) and (pointer: coarse) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 1200px) and (max-width: 1366px) {
      @content;
    }
  // } @else if $point == md {
  //   @media (min-width: 960px) and (max-width: 1199px) {
  //     @content;
  //   }
  } @else if $point == sm-down {
    @media (min-width: 769px) and (max-width: 960px) {
      @content;
    }
  } @else if $point == md-down {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == sxs-xs {
    @media (min-width: 360px) and (max-width: 767px) {
      @content;
    }
  }
}

@mixin orientation($direction) { 
  $orientation-landscape: "(orientation:landscape)"; 
  $orientation-portrait: "(orientation:portrait)";
  @if $direction == landscape {@media #{$orientation-landscape} { @content; }}
  @if $direction == portrait {@media #{$orientation-portrait} { @content; }}
} 

.rotateRight{
    writing-mode: vertical-rl;
}

.rotateLeft{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


*{
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body{
/* fix for inertial scrolling on ios*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;

/* fix for opera's user agent default  styles */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;

/* allways botttom footer*/
    display: flex;
    flex-direction: column;

}

.container{
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}


header{
  //height: 28px;
  height: 2vw;
  margin: 56px 0 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .elipse{
   position: absolute;
   left: calc(25% - 400px/2);
   top: calc(50% - 400px/2);
   width: 400px; 
   height: 400px; 
   background-image: radial-gradient(circle closest-side, #D7969E, rgba(0, 0, 0, 0));
 }

.main-screen{
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../images/mainsreen_girl.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include breakpoint(sm-down){
    height: 530px;
  }
  @include breakpoint(md-down){
    height: 457px;
  }
  @include breakpoint(sxs-xs){
    height: 455px;
    overflow-x: hidden;
  }
  

//for left block
@keyframes slideFromRight{
  0%{
    transform: translateX(600px) scaleX(0.5);
  }

  100%{
    transform: translateX(0)  scaleX(1);
  }
}


@keyframes slideFromRightMobile{
  0%{
    transform: translateX(50vw);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
 
//for right block
@keyframes slideFromRight2{
  0%{
    transform: scaleX(0);
  }

  100%{
    transform: scaleX(1);
  }
}

//for left block text
@keyframes showText {
  0%{
    transform: translateX(70px);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}   

//add rotate as fix for rotated text - translate with animations not works
@keyframes showTextForSubtitle {
  0%{
    transform: translateX(70px) rotate(180deg);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0) rotate(180deg);
  }
}

@keyframes showTextMobile {
  0%{
    transform: translateX(10px) rotate(180deg);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0) rotate(180deg);
  }
}

@keyframes showLeftRotatedText {
  0%{
    transform: translateY(30px) rotate(270deg);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0) rotate(270deg);
  }
}    


//for left block icons
@keyframes showIcons{
  0%{
    opacity: 0;
    transform: translateY(-25px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

//for left block
@keyframes showTextFromTop{
  0%{
    opacity: 0;
    transform: translateY(-25px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showTextFromAbove{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes imageFadeIn {
  0%{
    filter: opacity(0);
  }
  100%{
    filter: opacity(1);
  }
}

@keyframes blurOpacityFadeIn {
  0%{
    filter: blur(10px) opacity(0);
  }
  100%{
   filter: blur(0) opacity(1); 
  }
}


.elipse{
  animation: 0.65s ease-out 0s 1 slideFromRight;
    @include breakpoint(sxs-xs){
    display: none;
  }
}

  .left-block{
    display: inline-block;
    padding-left: 255px;
    width: 875px;
    height: 100%;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 85%);
    transform-origin: 100% 0%;
    animation: 0.65s ease-out 0s 1 slideFromRight;
    @include breakpoint(lg-hd){
      width: 732px;
      padding-left: 140px; 
    }
    @include breakpoint(lg){
      width: 693px;
      padding-left: 98px; 
    }
    @include breakpoint(sm-down){
      width: 465px;
      padding-left: 98px; 
    }
    @include breakpoint(md-down){
      width: 400px;
      padding-left: 40px; 
    }
    @include breakpoint(sxs-xs){
      width: 165px;
      padding-left: 16px;
      opacity: 0;
      animation: 0.65s ease-out 0s 1 slideFromRightMobile forwards;
      
    }
    
    .virna-logo{
      opacity: 0;
      margin-top: 50px;
      animation: 0.30s ease-out 0.45s 1 showText forwards;
      @include breakpoint(sm-down){
        margin-top: 30px;
      }
    }
    .brand{
      font-size: 74px;
      font-weight: 800;
      font-family: 'Cera Pro';
      font-style: normal;
      margin-top: 222px;
      opacity: 0;
      animation: 0.30s ease-out 0.55s 1 showText forwards;
      @include breakpoint(xl){
        margin-top: 152px;
      }
      @include breakpoint(sm-down){
        font-size: 48px;
        margin-top: 80px;
      }
      @include breakpoint(md-down){
        font-size: 42px;
        margin-top: 60px;
      }
      @include breakpoint(sxs-xs){
        font-size: 42px;
        margin-top: 50px;
      }
    }

    .subtitle{
      font-size: 14px;
      font-family: 'Cera Pro';
      font-weight: 500;
      font-style: normal;
      margin-top: 30px;
      text-align: right;
      opacity: 0;
      animation: 0.27s ease-out 0.63s 1 showTextForSubtitle forwards;
      transform: rotate(180deg);
      @include breakpoint(sm-down){
        margin-top: 15px;
      }
      @include breakpoint(sxs-xs){
        font-size: 13px;
      }
    }


    .options-line{
      width: 515px;
      display: flex;
      position: absolute;
      bottom: 60px;
      justify-content: space-between;
      @include breakpoint(lg-hd){
        width: 400px;
      }
      @include breakpoint(sm-down){
        width: 265px;
      }
      @include breakpoint(md-down){
        width: 265px;
      }
      @include breakpoint(sxs-xs){
        width: calc(100vw - 32px);
      }
      img{
        opacity: 0;
      }

      .options-icon1{animation: (0.20s) ease-out 0.45s 1 showIcons forwards;}
      .options-icon2{animation: (0.27s) ease-out 0.45s 1 showIcons forwards;}
      .options-icon3{animation: (0.30s) ease-out 0.45s 1 showIcons forwards;}
      .options-icon4{animation: (0.33s) ease-out 0.45s 1 showIcons forwards;}
      .options-icon5{animation: (0.40s) ease-out 0.45s 1 showIcons forwards;}

      // @for $i from 1 through 5 {
      //   .options-icon#{$i} {
      //   animation: (0.10s*$i) ease-out 0.45s 1 showIcons forwards;
      //   }
      // }


      .center-options{
        display: flex;
        margin-right: 190px;
        @include breakpoint(lg-hd){
          margin-right: 100px
        }
        @include breakpoint(lg){
          margin-right: 100px
        }
        @include breakpoint(sm-down){
          margin-right: 15px
        }
        @include breakpoint(md-down){
          margin-right: 15px
        }
        @include breakpoint(sxs-xs){
          flex-grow: 1;
          margin-left: 6px;
        }
        img{
          margin: 0 6px;
        }
      }
    }
  }


  .right-block{
    display: inline-block;
    background-color: #ffffff;
    float: right;
    width: 465px;
    height: 100%;
    padding-right: 170px; 
    transform-origin: right center;
    animation: 0.65s ease-out 0s 1 slideFromRight2;
    @include breakpoint(lg-hd){
      width: 324px;
      padding-right: 140px; 
    }
    @include breakpoint(lg){
      width: 268px;
      padding-right: 98px; 
    }
    @include breakpoint(sm-down){
      width: 225px;
      padding-right: 98px; 
    }
    @include breakpoint(md-down){
      width: 130px;
      padding-right: 40px; 
    }
    @include breakpoint(sxs-xs){
      width: 70px;
      padding-right: 16px;
    }
    .bonum-logo{
      display: block;
      float: right;
      margin: 55px auto 0 auto;
      opacity: 0;
      animation: (0.30s) ease-out 0.45s 1 showIcons forwards;
      @include breakpoint(sxs-xs){
        width: 45px;
      }
    }
    .subscription{
      display: inline-block;
      margin-top: 240px;
      float: right;
      clear: both;
      @include breakpoint(sm-down){
        margin-top: 145px;
      }
      @include breakpoint(md-down){
        margin-top: 100px;
      }
      span{
        display: block;
        font-family: 'Cera Pro';
        font-size: 15px;

        opacity: 0;
        animation: 0.27s ease-out 0.63s 1 showTextFromTop forwards;
      }       
      span:nth-of-type(2){
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }
}

.main-target{
  padding: 150px 0 120px;
  position: relative;
  @include breakpoint(sm-down){
    padding: 100px 0 50px;
  }
   @include breakpoint(md-down){
    padding: 100px 0 45px;
  }
  @include breakpoint(sxs-xs){
      padding: 100px 0 75px;
   }
  .container{
    max-width: 1410px;
    @include breakpoint(lg-hd) {
      max-width: 1170px;
    }
    @include breakpoint(lg) {
      max-width: 1170px;
    }
    @include breakpoint(sm-down){
      max-width: 770px;
    }
    @include breakpoint(md-down){
      max-width: 690px;
    }
    @include breakpoint(sxs-xs){
      max-width: calc(100vw - 32px);
    }


    > h2{
    font-family: 'Cera Pro';
    font-size: 30px;
    margin-left: 711px;
    opacity: 0;
    &.toAnimate{
      animation: 0.6s ease-out 0.0s 1 showTextFromAbove forwards;  
    }
      @include breakpoint(lg-hd){
        margin-left: 600px;
      }
      @include breakpoint(lg){
        margin-left: 600px;
      }
      @include breakpoint(sm-down){
        margin-left: 400px;
        font-size: 24px;
      }
      @include breakpoint(md-down){
        margin-left: 360px;
        font-size: 22px;
      }
      @include breakpoint(sxs-xs){
        margin-left: unset;
        font-size: 22px;
      }
    }
  }
  
  .target-wrap{
    padding-top: 30px;
    padding-left: 49px;
    display: flex;
    flex-direction: row;
    position: relative;
    @include breakpoint(lg-hd){
      padding-top: 50px;
    }
    @include breakpoint(sm-down){
     padding-top: 62px;
    }
    @include breakpoint(sxs-xs){
      padding-top: 170px;
        padding-left: unset;
    }


    &:before{
      content: '1920';
      position: absolute;
      font-family: 'Cera Pro';
      font-weight: 500;
      margin-right: 30px;
      font-size: 16px;
      text-align: right;
      left: 0px;
      top: 30px;
      opacity: 0;
      @include breakpoint(sxs-xs){
        left: -10px;
        top: 130px;
      }
    }
    &.toAnimate{
      &:before{
        animation: 0.6s ease-out 0.0s 1 showLeftRotatedText forwards;
      }
    }
    
    .target-image{
      min-width: 640px;
      height: 882px;
      background-color: #faf5f5;
      text-align: center;
      filter: opacity(0);
      &.toAnimate{
        animation: 1.2s ease-out 0s 1 imageFadeIn forwards;
      }
      @include breakpoint(lg-hd){
        min-width: 520px;
        height: 720px;
      }
      @include breakpoint(lg){
        min-width: 537px;
        height: 720px;
      }
      @include breakpoint(sm-down){
        min-width: 322px;
        height: 434px;
      }
      @include breakpoint(md-down){
        min-width: 280px;
        height: 380px;
        margin-top: 50px;
      }
      @include breakpoint(sxs-xs){
        min-width: 50vw;
        //min-width: 180px;
        height: 240px;
      }
      img{
        height: 100%;
      }
    }
    .target-info{
      padding-left: 150px;
      padding-top: 20px;
      width: 100%;
    @include breakpoint(lg){
      padding-left: 120px;
    }
    @include breakpoint(sm-down){
        padding-top: 0px;
        padding-left: 110px;
      }
    @include breakpoint(md-down){
      padding-left: 16px;
    }
    @include breakpoint(sxs-xs){
        max-width: 30vw;
        height: 240px;
        padding-left: 6vw;
      }

        .target-text{  
          position: absolute;
          @include breakpoint(lg-hd){
            min-width: 520px;
            height: 700px;
          }
          @include breakpoint(lg){
            min-width: 520px;
            height: 720px;
          }
          @include breakpoint(sm-down){
            min-width: unset;
            height: unset;
          }
          @include breakpoint(md-down){
            left: 40px;
            top: 80px;
          }
          @include breakpoint(sxs-xs){
            min-width: unset;
            height: unset;
            left: 16px;
            top: 30px;
          }
          > span{
            display: inline-block;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            opacity: 0;
            .toAnimate{
              &:nth-of-type(1){
                animation: 0.7s ease-out 0.18s 1 showTextFromAbove forwards;
              }
            }
            .toAnimate{
              &:nth-of-type(2){
                animation: 0.7s ease-out 0.26s 1 showTextFromAbove forwards;
              }
            }
            .toAnimate{
              &:nth-of-type(3){
                animation: 0.7s ease-out 0.34s 1 showTextFromAbove forwards;
              }
            }

            @include breakpoint(sm-down){
              font-size: 12px;
              line-height: 17px;
            }
            @include breakpoint(md-down){
              font-size: 12px;
              line-height: 15px;
            }
          }
        }



        .filters{
          position: relative;
          top: calc(37px + 50% - 420px/2);
          @include breakpoint(lg-hd){
            top: calc(30px + 50% - 330px/2);
          }
          @include breakpoint(lg){
            top: calc(57px + 50% - 330px/2);
          }
          @include breakpoint(md-down){
            top: calc(57px + 50% - 240px/2);
          }
          @include breakpoint(sxs-xs){
            top: calc(57px + 50% - 180px/2);
          }
          .counter{
            font-family: 'Cera Pro';
            font-size: 15px;
            font-weight: 400;
            float: right;
            opacity: 0;
            &.toAnimate{
              animation: 0.6s ease-out 0s 1 showTextFromAbove forwards;
            }
          } 
          .filter-container{
            position: relative;
            top: 100px;
            display: flex;
            flex-direction: row;
            @include breakpoint(lg-hd){
              top: 57px;
            }
            @include breakpoint(lg){
              top: 57px;
            }
            @include breakpoint(sxs-xs){
              top: 70px;
              left: -18px;
            }

                
          .filter-text{
            font-family: 'Cera Pro';
            font-size: 15px;
            font-weight: 500;
            position: relative;
            bottom: 40px;
            left: 10px;
            transform-origin: right center;
            opacity: 0;
            &.toAnimate{
              animation: 0.6s ease-out 0.0s 1 showLeftRotatedText forwards;
            }
            @include breakpoint(sxs-xs){
              font-size: 12px;
              bottom: 110px;
              left: 23px;
            }
          } 
          ul{
            margin-left: 108px;
            list-style-image:  url(../icons/icon_completed.png);
            display: inline-block;
            @include breakpoint(sm-down){
              margin-left: 60px;
            }
            @include breakpoint(sxs-xs){
              margin-left: unset;
            }
            li{
              margin-bottom: 15px;
              opacity: 0;

              &.toAnimate{
               &:nth-of-type(1){
                  animation: 0.7s ease-out 0.13s 1 showTextFromAbove forwards;
                }
              }
              &.toAnimate{
               &:nth-of-type(2){
                  animation: 0.7s ease-out 0.3s 1 showTextFromAbove forwards;
                }
              }
              &.toAnimate{
               &:nth-of-type(3){
                  animation: 0.7s ease-out 0.37s 1 showTextFromAbove forwards;
                }
              }

              &:last-of-type{
                margin-top: 30px;
                margin-bottom: unset;
                @include breakpoint(lg-hd){
                  margin-top: 60px;
                }
                @include breakpoint(sxs-xs){
                  margin-top: unset;
                }
              }
              span{
                font-family: 'Cera Pro';
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                &:before{
                  content: '';
                  margin-left: 10px;
                }
              }
            }
          } 
          }
          .clear-button{
            display: inline-block;
            position: relative;
            top: 330px;
            font-family: Cera Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 30px;
            opacity: 0;
            &.toAnimate{
              animation: 0.6s ease-out 0s 1 showTextFromAbove forwards;
            }
            @include breakpoint(lg-hd){
              top: 200px;
            }
            @include breakpoint(lg){
              top: 250px;
            }
            @include breakpoint(sm-down){
              top: 120px;
            }
            @include breakpoint(md-down){
              top: 100px;
            }
            &:after{
              content: url(../icons/icon_close.png);
              position: relative;
              top: -5px;
              left: 13px;
            }

          }
        }
    }
    
  }
  &:before{
      content: '';
      position: absolute;
      background-color: #F6FBFE;
      height: 420px;
      top: calc(67px + 50% - 420px/2);
      width: 100%;
      @include breakpoint(lg-hd){
        height: 330px;
        top: calc(50px + 50% - 330px/2);
      }
      @include breakpoint(sm-down){
        height: 243px;
        top: calc(50px + 50% - 243px/2);
      }
      @include breakpoint(md-down){
        height: 240px;
        top: calc(100px + 50% - 240px/2);
      }
      @include breakpoint(sxs-xs){
        height: 185px;
        top: calc(160px + 50% - 185px/2);
      }
    }
}

    .fashion{
      .container{
        max-width: 1410px;
        @include breakpoint(lg-hd){
          max-width: 1170px;
        }
        @include breakpoint(lg){
          max-width: 1170px;
        }
        @include breakpoint(sm-down){
          max-width: 770px;
        }
        @include breakpoint(md-down){
          max-width: 690px;
        }
        @include breakpoint(sxs-xs){
          width: calc(100vw - 32px);
        }
        > h2{
          font-family: 'Cera Pro';
          font-weight: 700;
          font-size: 56px;
          margin-left: 720px;
          //filter: opacity(0);
          opacity: 0;
          &.toAnimate{
            animation: 0.6s ease-out 0s 1 showTextFromAbove forwards;
          }
          @include breakpoint(lg-hd){
            margin-left: 600px;
          }
          @include breakpoint(lg){
            margin-left: 600px;
          }
          @include breakpoint(sm-down){
            margin-left: 400px;
            font-size: 36px;
          }
          @include breakpoint(md-down){
            margin-left: 360px;
            font-size: 32px;
            margin-bottom: 35px;
          }
          @include breakpoint(sxs-xs){
            margin-left: unset;
          }
        }
        .fashion-wrap{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @include breakpoint(sxs-xs){
            flex-direction: column;
          }
          .main-image-wrap{
            min-width: 690px;
            @include breakpoint(lg-hd){
              min-width: 570px;
             }
             @include breakpoint(lg){
              min-width: 570px;
             }
             @include breakpoint(sm-down){
              min-width: 370px;
             }
              @include breakpoint(md-down){
                min-width: 330px;
              }
              @include breakpoint(sxs-xs){
                min-width: calc(100vw - 32px);
              }
              
            .properties{
              display: flex;
              flex-direction: row;
              justify-content: center;
              margin-bottom: 30px;
              @include breakpoint(sm-down){
                justify-content: flex-end;
              }
              @include breakpoint(md-down){
                justify-content: flex-end;
              }
              @include breakpoint(sxs-xs){
                justify-content: flex-start;
              }
  
              span{
                font-style: normal;
                font-family: Cera Pro;
                font-weight: normal;
                font-size: 13px;
                line-height: 30px;
                color: #808080;
                margin-right: 7px;
                font-weight: normal;
                opacity: 0;

                &.toAnimate{
                  &:nth-of-type(2n-1), &:nth-of-type(2n){
                    animation: 0.7s ease-out 0.0s 1 showTextFromAbove forwards;
                  }  
                }
                &.toAnimate{
                  &:nth-of-type(4n-1), &:nth-of-type(4n){
                    animation: 0.7s ease-out 0.13s 1 showTextFromAbove forwards;
                  }  
                }
                &.toAnimate{
                  &:nth-of-type(6n-1), &:nth-of-type(6n){
                    animation: 0.7s ease-out 0.26s 1 showTextFromAbove forwards;
                  }  
                }

              }
              :nth-of-type(even){
                font-weight: bold;
                margin-right: 66px;
                color: #000;
                &:after{
                  content: url(../icons/icon_completed.png);
                  margin-left: 6px;
                }
                @include breakpoint(sm-down){
                  margin-right: 15px;
                }
                @include breakpoint(md-down){
                  margin-right: 20px;
                }

              }
              :last-of-type{
                margin-right: unset;
              }
            }
            .main-image-container{
              background-color: #F6FBFE;
              height: 842px;
              line-height: 842px;
              text-align: center;
              @include breakpoint(lg-hd){
                height: 700px;
                line-height: 700px;
              }
              @include breakpoint(lg){
                height: 700px;
                line-height: 700px;
              }
              @include breakpoint(sm-down){
                height: 455px;
                line-height: 455px;
              }
              @include breakpoint(md-down){
                height: 400px;
                line-height: 400px;
              }
              img{
                height: 90%;
                vertical-align: bottom;
                filter: opacity(0);
                &.toAnimate{
                  animation: 0.6s ease-out 0s 1 blurOpacityFadeIn forwards;
                }
              }
            }
          }
          .preview{
            width: 570px;
            @include breakpoint(lg-hd){
              width: 470px;
            }
            @include breakpoint(lg){
              width: 470px;
            }
            @include breakpoint(sm-down){
              width: 290px;
            }
            @include breakpoint(md-down){
              width: 290px;
            }
            @include breakpoint(sxs-xs){
              align-self: flex-end;
              width: calc(70vw - 32px);
            }
            > span{
              float: right;
              font-family: Cera Pro;
              font-size: 16px;
              font-weight: 400;
              opacity: (0);
              &.toAnimate{
                animation: 0.7s ease-out 0.39s 1 showTextFromAbove forwards;
              }
              @include breakpoint(sxs-xs){
                padding-top: 30px;
              }
              @include breakpoint(sm-down){
                font-size: 14px;
              }
              @include breakpoint(md-down){
                font-size: 14px;
              }
            }
            .item-card{
              margin-top: 68px;
              .item-preview-wrap{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              img{
                max-width: 330px;
                filter: opacity(0);
                &.toAnimate{
                  animation: 0.6s ease-out 0.2s 1 blurOpacityFadeIn forwards;
                }
                @include breakpoint(lg-hd){
                  max-width: 280px;
                 }
                 @include breakpoint(lg){
                  max-width: 280px;
                 }
                 @include breakpoint(sm-down){
                    max-width: 170px;
                  }
                  @include breakpoint(md-down){
                    max-width: 170px;
                  }
              }
              .product-card{
                font-family: Cera Pro;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                opacity: 0;
                &.toAnimate{
                  animation: 0.6s ease-out 0.0s 1 showTextMobile forwards;
                }
                @include breakpoint(sm-down){
                  font-size: 14px;
                }
                }  
              }
              

              .item-description{
                max-width: 330px;
                text-align: center;
                @include breakpoint(lg-hd){
                  max-width: 280px;
                }
                @include breakpoint(lg){
                  max-width: 280px;
                }
                @include breakpoint(sm-down){
                  width: 170px;
                }
                @include breakpoint(md-down){
                  width: 170px;
                }
              .colors{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 50px;
                padding: 6px 0;
                @include breakpoint(lg-hd){
                  margin-top: 23px;
                }
                @include breakpoint(lg){
                  margin-top: 23px;
                }
                div{
                  width: 10px;
                  height: 10px;
                  margin-left: 16px; 
                  opacity: 0;

                  &.toAnimate{
                    &:nth-of-type(1){
                    outline-offset: 5px;
                    outline: 1px solid black;
                    background-color: #EEDBD5;
                    margin-left: unset;
                    animation: 0.7s ease-out 0s 1 showTextFromAbove forwards;
                    }
                  }

                  &.toAnimate{
                    &:nth-of-type(2){
                      background-color: #82BDCF;
                      animation: 0.7s ease-out 0.15s 1 showTextFromAbove forwards;
                    }  
                  }
                  
                  &.toAnimate{
                    &:nth-of-type(3){
                      background-color: #9C1744;
                      animation: 0.7s ease-out 0.3s 1 showTextFromAbove forwards;
                    }  
                  }
                } 
              }

              .item-name{
                font-family: Cera Pro;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                display: block;
                margin: 16px auto;
                max-width: 277px;
                opacity: 0;
                &.toAnimate{
                  animation: 0.7s ease-out 0.3s 1 showTextFromAbove forwards;
                }
                @include breakpoint(sm-down){
                  font-size: 12px;
                }
                @include breakpoint(md-down){
                  font-size: 12px;
                }
              }
              .price{
                font-family: Cera Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                position: relative;
                display: inline-block;
                opacity: 0;
                &.toAnimate{
                  animation: 0.6s ease-out 0.5s 1 showTextFromAbove forwards;
                }
              }
              }
            }
          }
        }
    }
  }


.footer{
  width: 100%;
  margin-top: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  @include breakpoint(lg-hd){
    padding-bottom: 140px;
  }
  @include breakpoint(sm-down){
    padding-bottom: 175px;
  }
  @include breakpoint(sxs-xs){
      padding-bottom: unset;
  }
  .logo-container{
    height: 945px;
    position: relative;
    display: inline-block;
    @include breakpoint(lg-hd){
      height: 660px;
    }
    @include breakpoint(lg){
      height: 660px;
    }
    @include breakpoint(sm-down){
      height: 495px;
    }
    @include breakpoint(md-down){
      height: 415px;
    }
    @include breakpoint(sxs-xs){
        height: unset;
    }

    > img{
      height: 100%;
      @include breakpoint(sxs-xs){
        content: url(../icons/icon_virna_text_mobile.svg);
         width: 100vw;
      }
    }
    .elipse{
      z-index: -1;
      left: calc(25% - 400px/2);
      top: calc(50% - 800px/2);
      width: 800px;
      height: 800px;
      @include breakpoint(lg-hd){
        left: calc(25% - 330px/2);
        top: calc(50% - 660px/2);
        width: 660px;
        height: 660px;
      }
      @include breakpoint(lg){
        left: calc(25% - 330px/2);
        top: calc(50% - 660px/2);
        width: 660px;
        height: 660px;
      }
      @include breakpoint(sm-down){
        left: calc(25% - 250px/2);
        top: calc(50% - 500px/2);
        width: 500px;
        height: 500px;
      }
      @include breakpoint(md-down){
        left: calc(25% - 207px/2);
        top: calc(50% - 415px/2);
        width: 415px;
        height: 415px;
      }
      @include breakpoint(sxs-xs){
        left: calc(25% - 50vw/2);
        top: calc(50% - 70vw/2);
        width: 50vw;
        height: 70vw; 
       }
    }


    &:before{
      content: url(../icons/bonum_logo.svg);
      position: absolute;
      width: 65px;
      height: 20px;
      left: 255px;
      top: 100px;
      opacity: 0;
      
      @include breakpoint(lg-hd){
        left: 135px;
      }
      @include breakpoint(lg){
        left: 135px;
      }
      @include breakpoint(md-down){
        top: 10px;
        left: 55px;
      }
    }
     &.toAnimate{
      &:before{
        animation: 0.7s ease-out 0.3s 1 showText forwards;
      }
    }
  }
  .thankgiving{
    align-self: center;
    position: relative;
    bottom: 50px;
    margin-left: 30px;
    @include breakpoint(lg-hd){
      bottom: 0px;
    }
    @include breakpoint(md-down){
        bottom: 0px;
        margin-left: unset;
      }
    @include breakpoint(sxs-xs){
      white-space: nowrap;
      right: 66vw;
    }
  h2{
    font-family: Cera Pro;
    font-weight: bold;
    font-size: 72px;
    line-height: 91px;
    letter-spacing: 0.02em;
    filter: opacity(0);
    &.toAnimate{
      animation: 0.6s ease-out 0s 1 blurOpacityFadeIn forwards;
    }
    @include breakpoint(sm-down){
      font-size: 48px;
    }
    @include breakpoint(md-down){
        font-size: 42px;
      }
    } 
    span{
    font-size: 14px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    filter: opacity(0);
    &.toAnimate{
      animation: 0.6s ease-out 0.5s 1 blurOpacityFadeIn forwards;
    }
    @include breakpoint(sm-down){
      font-size: 13px;
    }
    }
  }
}

